<html>
  <head>

    <title>Users </title>
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>

  <h1 style = "color:black; font-family:courier; ">DepartmentsAndAisles</h1>
  <body style ="background-color:lavender;">
    <img src = "/static/img/dep1.png" alt ="opu" width="1000" height="550" >   
    <span style = "padding-left:100px">
    <h3></h3>
      
    <h2 style = "color:black; font-family:courier;">Departments & Aisles</h2>
    <h4></h4>
    <img src = "/static/img/dep2.png" alt ="uid" width="750" height="550" >
    <h5></h5>
    <img src = "/static/img/dep3.png" alt ="u3id" width="750" height="550" >
    <h5></h5>
    <img src = "/static/img/aisle0.png" alt ="uid" width="750" height="550" >
    <h5></h5>
    <img src = "/static/img/aisle1.png" alt ="uid" width="750" height="550" >
    <h5></h5>
    <img src = "/static/img/dep5.png" alt ="uid" width="750" height="550" >
    <h5></h5>
    <img src = "/static/img/dep6.png" alt ="uid" width="750" height="550" >
    <h5></h5>
    <img src = "/static/img/dep7.png" alt ="uid" width="750" height="550" >
    <h5></h5>
    <img src = "/static/img/dep8.png" alt ="uid" width="750" height="550" >
    <h5></h5>
    <img src = "/static/img/dep9.png" alt ="uid" width="750" height="550" >
    <h5></h5>
    <img src = "/static/img/dep10.png" alt ="uid" width="750" height="550" >
    <h5></h5>
    <img src = "/static/img/dep11.png" alt ="uid" width="750" height="550" >
    <h5></h5>
    <img src = "/static/img/dep12.png" alt ="uid" width="750" height="550" >
    <h5></h5>

    <img src = "/static/img/dep13.png" alt ="uid" width="750" height="550" >
    <h5></h5>
    <img src = "/static/img/dep14.png" alt ="uid" width="750" height="550" >
    <h5></h5>
    
	   
    <h6></h6>
</html>
